<body>
    
  <div class="hero">
      
    <nav>
      
      <h2 class="name">Sleep<span>Pet</span></h2>
      <ul>
        

        <li><a href="/sleep/calendar">Sleep</a></li>


             <li><a href="/pet">Pet</a></li>
 
      </ul>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}" class="button">login</a>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/myprofile">
        
          {{ current_user.gname }} 
        
        </a>
      <a class="button fred" href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </nav>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container-fluid">
        {% for message in messages %}
       <p class="messages sb1"> {{ message }} </p>
        {% endfor %}
      </div>
    {% endif %}
    {% endwith %}

    <div class="content">
      <h4>Place Holder</h4>
      <h1>Place <span>Holder</span></h1>
      <h3>THIS IS MORE PLACE HOLDER</h3>
    </div>
    <div class="section" id="arrow"></div>
  </div>
  
  
</body>