

{% extends 'baseindex.html' %}
<script>
    $(window).bind('scroll', function() {
     if ($(window).scrollTop() > 100) {
         $('arrow').hide();
     }
     else {
         $('arrow').show();
     }
});
  </script>
{% block body %}
<br>
<br>
<body class="explain">
    

<h1>
    Sleep Pet
</h1>
<br>
<h2>

    The best way to get on top of your sleep game. Learn to Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
    deserunt mollit anim id est laborum.
</h2>
<br>
<br>
<button>Start Now!</button>
<br><br><br>
</body>
{% endblock %}

