{% extends 'base.html' %}

{% block body %}

<div class="container position-absolute start-40">
    <h1 class=" display-5 text-dark text-align-center col">Date: {{sleep.day}}</h1>
    <br><br>
    <h1 class="display-5 text-dark text-align-center col ">Sleep Quality: {{sleep.quality}}</h1>
    <br><br>
    <h1 class="display-5 text-dark text-align-center col">Hours Slept: {{sleep.hours}}</h1>
    <br><br>
    <h1 class="display-5 text-dark text-align-center col">Disturbances: {{sleep.disturbances}}</h1>
    <br><br>
    <h1 class="display-5 text-dark text-align-center col ">Notes: {{sleep.notes}}</h1>
    <br><br>
</div>
{% endblock %}